.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 80vh;
   
}
.headerCon{
        width: 60%;
       
        text-align: center;
        height: 40vh;
}
.headerCon .span{
    color: #23BE0A;
    font-size: 3rem;
    font-weight: 100%;
}
.Bappy{
    font-size: 1.76rem;
    
    font-weight: 700;
}
.text1{
    font-size: 30px;
    color: #23BE0A;
   
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px ;
    border: 1px solid #23BE0A;
    width: 20%;
    margin:30px auto;
    border-radius: 30px;
    gap: 10px;
    font-size: 18px;
}
.btn:hover{
    background-color: #23BE0A;
    color: #fff;
    cursor: pointer;
    animation: fadeIn;
}
.bgDiv{
    width: 40%;
    height: 80vh;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media (max-width:980px){
    .headerCon{
        height: auto;
    }
    .bgDiv{
        height: auto;
    }
    .btn{
        width: 30%;
    }
    .header{
        min-height: 50vh;
        
    }
}
